{% extends "base.html" %}

{% block content %}

<br>
<h1>Please Your Post Activity</h1>

<form action="#" method="post">
  <div class="form-group">
    <label for="name">Your Name:</label>
    <input type="text" maxlength="50" name="yourName" placeholder="Your Name">
    <br><br>
    <label for="activityTitle">Title:</label>
    <input type="text" maxlength="50" name="activityTitle" placeholder="Your Activity Title">
    <br><br>
    <label for="activityType">Activity Location:</label>
    <input type="text"  maxlength="50" name="activityType" placeholder="Your Activity Location">
    <br><br>
    <label for="activityDescription">Activity Description:</label>
    <input type="text" maxlength="200" name="activityDescription" placeholder="Your Activity Description">
    <br><br>
    <button class="btn btn-lg btn-primary" type="submit">Create</button>
  </div>
</form>



{% endblock %}
