{% extends "base.html" %}

{% block content %}
<!-- This is the webpage that allows a user to edit their profile.-->
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(size=80, cols=50, rows=10) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <p>Your Links: </p>
            <p><small>Please post a relevant link that people can use to contact you with.</small></p>
            {{ form.links(size=80, cols=50, rows=10) }}<br>
            {% for error in form.links.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
